h1, p {
    margin-bottom: 0;
}



.section-about-1 {
    background: var(--ux-color-8); 
    border-radius: 16px;
    overflow: hidden;
    border: 1px var(--ux-color-9) solid;
}

.bg {
    background-color: var(--ux-color-6);
    border-radius: 16px;
}

.section-point {
    display: block;
    position: relative;
}

.section-about-2 {
    position: absolute;
    top: 25%;
    left: 5%;

}

.img-position {
    position: absolute;
    right: 25%;
    z-index: -1;
}


.head-text-about {
    color: var(--text-color-4);
}

@media screen and (max-width: 1400px) {
    .section-about-2 h3 {
        font-size: var(--h-s);
    }
}

@media screen and (max-width: 1200px) {

    .text-adress {
        margin-bottom: 10% !important;
    }

    .img-position {
        display: none;
    }

    .section-point {
        position: static;
        text-align: center !important;
    }

    .section-about-2 {
        position: static;
        background-color: var(--ux-color-1);
        border: 1px solid var(--ux-color-9);
        border-radius: 20px;
    }

    .section-about-2 h3 {
        font-size: var(--h-l);
    }

    .head-text-about-2 {
        width: 96%;
    }

}

@media screen and (max-width: 800px) {
    .section-about-2 h3 {
        font-size: var(--h-xs);
        padding-left: auto !important;
        padding-right: auto;
    }
}

@media screen and (max-width: 576px) {
    .section-about-2 h3 {
        font-size: var(--p-xs);
    }

    .col-xxl-3 h1 {
        max-width: 91%;
        min-width: 60px;
    }
}