:root {
    --ux-color-1: #ffe4d4;
    --ux-color-2: #e8b89d;
    --ux-color-3: #816e89;
    --ux-color-4: #b9ffce;
    --ux-color-5: #f9f871;
    --ux-color-6: #2f4858;
    --ux-color-7: #f6f3e9;
    --ux-color-8: #fff;
    --ux-color-9: #000;
    --text-color-1: #dedede;
    --text-color-2: #2c2523;
    --text-color-3: #252424;
    --text-color-4: #6f6e6e;
    
    --h-xxl: 32px;
    --h-xl: 24px;
    --h-l: 20px;
    --h-s: 18px;
    --h-xs: 16px;
    
    --p-xl: 18px;
    --p-l : 16px;
    --p-s : 14px;
    --p-xs: 12px;
}

h1 {font-size: var(--h-xxl);}
h2 {font-size: var(--h-xl);}
h3 {font-size: var(--h-l);}
h4 {font-size: var(--h-s);}
h5 {font-size: var(--h-xs);}
.p1 {font-size: var(--p-xl);}
.p2 {font-size: var(--p-l);}
.p3 {font-size: var(--p-s);}
.p4 {font-size: var(--p-xs);}

@media screen and (max-width: 1200px) {
    
    h1 {font-size: var(--h-xl);}
    h2 {font-size: var(--h-l);}
    h3 {font-size: var(--p-s);}
    h4 {font-size: var(--p-s);}
    h5 {font-size: var(--p-xs);}
    
    .p1 {font-size: var(--p-l);}
    .p2 {font-size: var(--p-s);}
    .p3 {font-size: var(--p-xs);}
    .p4 {font-size: var(--p-xs);}

    
    
}

@media screen and (max-width: 768px) {
    
    h1 {font-size: var(--h-l);}
    h2 {font-size: var(--h-s);}
    h3 {font-size: var(--p-xs);}
    h4 {font-size: var(--p-xs);}
    h5 {font-size: var(--p-xs);}
    
    .p1 {font-size: var(--p-s);}
    .p2 {font-size: var(--p-xs);}
    .p3 {font-size: var(--p-xs);}
    .p4 {font-size: var(--p-xs);}
    
}

body {
    background-color: var(--ux-color-7);
    font-family: 'Roboto', Arial, sans-serif;
}

ul {
    padding-left: 0px !important;
}

.navbar-brand {
    font-size: var(--p-l);
    white-space: inherit;
    width: 12em;
}

.navbar-brand span {
    margin-left: 1em;
}

.p-navbar {
    color: var(--text-color-3);
}

.block-bg-section-1 {
    background-color: var(--ux-color-1);
    /*
    padding-top: 40px;
    height: 370px;
    */
}

.text-section-1 {
    max-width: 85%;
}

.button-1 {
    display: inline-flex;
    height: 50px;
    width: 150px;
    border: 2px solid var(--ux-color-9);
    background-color: var(--ux-color-8);
    border-radius: 16px;
    color: var(--ux-color-9);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: var(--ux-color-9);
    text-decoration: none;
    letter-spacing: 1px;
}

span {
    color: var(--ux-color-9);
    text-decoration: none;
    letter-spacing: 1px;
}
 
#button-7 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
  
#button-7 a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
}

#button-7 span {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
}

#dub-arrow {
    width: 100%;
    height: 100%;
    background: var(--ux-color-4);
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
}
  
#button-7 img {
    width: 20px;
    height: auto;
}
  
#button-7:hover #dub-arrow {
    left: 0;
}
 
#button-7:hover a {
    left: 150px;
}

#button-7:hover span {
    left:150px;
}


.p-section-2 {
    color: var(--text-color-4);

}

.img-section-2 {
    width: 50px;
}

.img-section-3 {
    display: block;
    position: relative;
}

.img-section-3-1 {
    position: absolute;
    top: 20%;
    z-index: -1;
}

.massege-block {
    display: block;
    position: relative;
    margin-top: 10%;
}

.massege-text {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 20%;
}

.bg-section-4 {
    background-color: var(--ux-color-1);
    border: 1px solid var(--ux-color-9);
    border-radius: 20px;
}

.input-section-4 {
    border: 2px solid var(--ux-color-9);
    border-radius: 12px;
}

.card {
    border: none;
    border-radius: 16px;
}

.card-header {
    background-color: var(--ux-color-8);
}

.footer-set {
    background-color: var(--ux-color-8);
}

.p-footer {
    color: var(--text-color-3);
}

@media screen and (max-width: 1400px) {
    h5 {font-size: var(--p-s);}
    .massege-text {
        top: 5%;
    }
}

@media screen and (max-width: 1200px) {
    .img-section-3 {
        display: none !important;
    }
    .massege-text {
        max-width: 60%;
        top: 20%;
    }

    .massege-block {
        left: 10%;
    }

    h5 {font-size: var(--h-s) !important;}    
}

@media screen and (max-width: 990px) {
    .massege-text {
        max-width: 100%;
        top: 10%;
    }

    .navbar {
        margin-bottom: .5em !important;
    }

    .footer-set .row {
        margin-top: .5em !important;
    }

    .massege-block {
        left: 0%;
    }
}

@media screen and (min-width: 990px) {
    .number-footer {
        font-size: var(--h-l);
    }
    
}

@media screen and (max-width: 770px) {
    .number-footer {
        font-size: var(--h-s);
    }
    h5 {
        font-size: var(--p-xs) !important;
    }
}

@media screen and (max-width: 480px) {
    .massege-text h5 {
        font-size: calc(var(--p-xs) - 10%) !important;
    }

    .massege-text .p2 {
        font-size: calc(var(--p-xs) - 15%) !important;
    }
}

@media screen and (max-width: 400px) {
    .massege-text h5 {
        font-size: calc(var(--p-xs) - 20%) !important;
    }

    .massege-text .p2 {
        font-size: calc(var(--p-xs) - 25%) !important;
    }

    .massege-text p, h5 {
        margin-bottom: .5em;
    }
}